:root {
    --nav-color: rgba(10, 90, 255, 1);
    --nav-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
}

nav {
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    box-shadow: var(--nav-box-shadow);
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

nav ul li {
    padding: 20px;
    margin: 5px;
    border: 5px;
    font-size: 30px;
}

nav ul li a {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

header {
    height: 50vh;
    background-color: rgb(52, 52, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white !important;
}

main {
    height: 100%;
    min-height: 50vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 10px solid black;
    border-radius: 20px;
    color: white;
}

#signup-form h1 {
    margin: 0 0 20px 0;
    font-size: 36px;
}

#signup-form label {
    font-size: 20px;
}

#signup-form input {
    /* display: block; */
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 50%;
    border-radius: 10px;
    border: 0;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 10px solid black;
    border-radius: 20px;
    color: white;
}

#login-form h1 {
    margin: 0 0 20px 0;
    font-size: 36px;
}

#login-form label {
    font-size: 20px;
}

#login-form input {
    /* display: block; */
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 50%;
    border-radius: 10px;
    border: 0;
}

#new-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 10px solid black;
    border-radius: 20px;
    color: white;
}

#new-post h1 {
    margin: 0 0 20px 0;
    font-size: 36px;
}

#new-post label {
    font-size: 20px;
}

#new-post input {
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 50%;
    border-radius: 10px;
    border: 0;
}

#post-card {
    background: rgba(41, 41, 41, 0.25);
    padding: 10px;
    border: 5px solid var(--nav-color);
}

.single-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 10px solid black;
    border-radius: 20px;
    color: white;
    line-height: 2em; 
}

#new-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 20px;
    color: white;
    margin: 20px; 
}

#edit-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 10px solid black;
    border-radius: 20px;
    color: white;
}

#edit-post h1 {
    margin: 0 0 20px 0;
    font-size: 36px;
}

#edit-post label {
    font-size: 20px;
}

#edit-post input {
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 50%;
    border-radius: 10px;
    border: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#admin-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 16px;
    margin: 12px;
    padding: 7px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
}

footer {
    height: 100%;
    background-color: var(--nav-color);
    display: flex; 
    align-items: center;
    justify-content: center;
}
